/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* display: flex;  */

 th {    
    color: green; 
    background-color: magenta;
    width: auto;
    height: auto;
    border: 100%, double, burlywood;
 }

 strong {
     display: flex;
     flex: auto;
     flex-wrap: wrap-reverse; 
 }

 p:first-of-type {
     color: yellow;
     text-decoration: wavy;
     font-style: italic;
 }

 .content {
width: 500px;
height: 500px;
background-color: mediumslateblue;
transition: 1s;

}

.content:hover {
    background-color:turquoise; 
    border-radius: 50%;
    display: inline-flexbox;
}